.sidebar-toggle{width: 36px; background: linear-gradient(to right, rgba(0,0,0,.1) 36px, transparent 0);}
@media (max-width:768px) {
    .sidebar-toggle{padding-top: 10px;}
}
.sidebar-toggle .sidebar-toggle-button span:last-child {margin-bottom: 0;}